<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a routerLink="" class="brand-logo">Asignacíon de Premios
              <i class="material-icons">home</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a routerLink="/personas" routerLinkActive="active">Personas</a>
                </li>
                <li>
                    <a routerLink="/sorteo" routerLinkActive="active">Sorteo</a>
                </li>
            </ul>
        </div>
    </nav>
</div>